.login-card {
    padding: 20px 30px;
    width: 400px;
    margin: 10px auto 10px;
}

.login-card form {
    display: flex;
    flex-direction: column;
}

.login-card button {
    justify-content: center;
    margin-top: 20px;
}
